@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black_blue: #171717;
  --color-dark_blue: #13182a;
  --color-ultimate_blue: #5ba8ef;
  --color-standup_red: #b23535;
  --color-boxing_yellow: #cca94f;
  --color-fitness_green: #5c8d58;
  --color-frontera_blue: #3576b2;
}

@theme inline {
  --font-akzidenz: var(--font-akzidenz);
  --font-jersey: var(--font-jersey);
}

@layer base {
  body {
    font-weight: 400;
  }
}
